.display{
    display: flex;
    display: none; 
    flex-direction: column;
    align-items: center;
    flex-wrap:nowrap;
    width: min(95vw, 540px);
    height: min(300px);
    background: #F2F2F2;
    border-radius: 30px;
    padding: 1rem;
    overflow: auto;
    overflow-x: hidden;
    animation: up 2s;
}
.insert-city{
    letter-spacing: -1px;
    margin-top: 1rem;
    font-size: 2.5rem;
    opacity: 0.8;
}
.insert-country{
    font-size: 15px;
    text-align: center;
    width: 100px;
    border-radius: 30px;
    background: #FA4A0C;
    color: #fff;
}
.insert-wind, 
.insert-temp, 
.insert-pressure, 
.insert-hum, 
.insert-lon, .insert-lat{
    margin-top: 1rem;
    color: rgb(85, 14, 121);
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.img-insert{
    margin-left: 1rem;
}
.img-insert img{
    height: 24px;
    width: 24px;
}
.btn-map{
    position: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.btn-map button{
    margin-top: 2rem;
    width: 300px;
    background-color: rgb(85, 14, 121);
    border-radius: 15px;
    font-size: 17px;
    color: white;
    padding: 2rem;
    font-weight: 600;
}
.loader{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: min(95vw, 540px);
    height: min(300px);
    background: #F2F2F2;
    border-radius: 30px;
}
.spin{
    border: 8px solid #b8b6b6;
    border-left-color:#FA4A0C ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: loader 0.7s linear infinite;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 9rem;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: rgb(214, 55, 55);
}

.float{
    cursor: pointer;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;


    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #5b19b7;
    right: 5px;
    bottom: 15px;
    z-index: 20;
        
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    transition: 1s ease-out;
}

#mapDIV{
    height: 100vh;
    width: 100vw;
}